body {
    background-color: black;
    text-align: center;
}
header h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}

header p,
.comingsoon p {
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    color: aquamarine;
    text-decoration-line: underline;
    
}

p{
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    color: aquamarine;

}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.camping p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

footer p{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: right;
    max-width: 1750px;

}

.comingsoon img {
    margin: 15px 15px;
}