body {
    background-color: black;
    text-align: center;
}
.header{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}

p{
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    color: aquamarine;

}

h2 {
    font-family: Verdana;
    font-weight: normal;
    color: white;